@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.loadingScreen {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingGif {
    width: 250px;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.096);
}

.brand_logo {
    width: 145px;
    height: auto;
}

.brand_logo img {
    width: 100%;
    height: auto;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

header ul li {
    padding: 0 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 4px solid rgba(255, 0, 0, 0);
    color: rgb(82, 82, 82);
}

header ul li:nth-child(1) {
    color: #29A8DF;
}

header ul li:hover {
    border-bottom: 4px solid rgb(0, 140, 255);
    color: #29A8DF;
    cursor: pointer;
}

.menu2 {
    display: none;
}

.about-container-2 {
    width: 700px;
    font-size: 18px;
    color: rgb(146, 146, 146);
    padding-bottom: 30px;
}

.yoni-container {
    width: 700px;
    height: 400px;
    margin-top: 90px;
    display: flex;
    background-color: rgb(192, 192, 192);
    overflow: hidden;
}

.yoni-container img {
    width: 100%;
    object-fit: cover;
}

.slider {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.blackFilm {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.text-info {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
}

.text-info h1 {
    font-size: 48px;
    color: white;
}

.text-info p {
    width: 600px;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}

.line {
    width: 70px;
    height: 2px;
    margin-top: 10px;
    background-color: white;
}

.images {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.footer1 {
    width: 100%;
    /*height: 250px;*/
    position: absolute;
    z-index: 100;
    display: flex;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    padding-bottom: 60px;
}

.footer-left {
    display: flex;
    flex-grow: 1.2;
    max-width: 65%;
    flex-direction: column;
    padding-right: 10px;
}

.section1 {
    margin-left: 300px;
}

.row {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(94, 94, 94);
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
}

.footer-left h2 {
    color: #29A8DF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.footer-rigth {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.footer2 {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgb(110, 110, 110);
    background-color: rgb(240, 240, 240);
}

.form-container {
    width: 450px;
    height: 670px;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    bottom: 30%;
}

.header-form {
    width: 100%;
    height: 24%;
    position: relative;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.title-container {
    position: absolute;
    top: 40px;
    left: 40px;
}

.get-offer {
    font-size: 30px;
    font-weight: bold;
    color: #3DA0F2;
}

.today {
    font-size: 50px;
    font-weight: bold;
    color: #3DA0F2;
}

.form-body {
    width: 100%;
    height: 76%;
    padding: 20px 30px 0 30px;
}

.rows-form {
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
}

.rows-form p {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(112, 112, 112);
}

.rows-form input {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(247, 247, 247);
}

.rows-form input:focus {
    outline-color: rgb(50, 197, 255);
}

#button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 7px;
    border: 1px solid rgb(0, 112, 218);
    background-color: #3DA0F2;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.menuIcon {
    display: none;
    color: rgb(44, 44, 44);
}

#section-reviews {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

.span1 {
    font-weight: bold;
}

.ourClients {
    font-size: 40px;
    color: rgb(68, 68, 68);
    width: 350px;
    height: 100vh;
    padding-right: 20px;
    position: relative;
}

.ourClientsInner {
    width: 320px;
    padding-right: 20px;
    height: 400px;
    position: fixed;
    margin-top: 100px;
    border-right: 1px dotted rgb(0, 0, 0);
}

.reviews-container {
    width: 50%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}


.locations-container {
    width: 50%;
    padding-top: 100px;
    margin-bottom: 30px;
}

.locations-container .location {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 30px;
    box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.055);
    background-color: #29a8df;
    flex-grow: 1;
    float: left;
    text-decoration: none;
    margin: 10px;
}

@media (min-width: 992px) {
    .locations-container .location {
       width: 40%;
    }
}

.locations-container .location .location-name {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}

.city {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 10px;
    color: rgb(104, 104, 104);
}

.imagesHome {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
    overflow: hidden;
}

.h-images {
    width: 200%;
}


.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.review-box {
    width: 400px;
    height: auto;
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 30px;
    box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.055);
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
}

.review-body {
    font-size: 18px;
}


.review-name {
    font-size: 20px;
    color: rgb(71, 71, 71);
    font-weight: 600;
    margin-bottom: 5px;
}

.review-stars {
    margin-bottom: 10px;
}

.review-stars i {
    font-size: 14px;
    color: rgb(255, 208, 0);
}

@media screen and (max-width: 1599px) {

    .text-info {
        top: 40%;
        left: 10vw;
    }

    .section1 {
        margin-left: 10vw;
    }

    .form-container {
        height: 555px;
        bottom: 10%;
    }

    .header-form {
        height: 20%;
    }

    .header-form .title-container {
        top: 10%;
    }

    .rows-form {
        height: 70px;
    }

    .rows-form input {
        height: 45px;
    }

    #button {
        height: 50px;
    }

    .footer-left {
        max-width: 60%;
    }

}

@media screen and (max-width: 640px) {
    .locations-container {
        width: 100%;
        padding: 50px 20px 0 20px;
    }
}




@media screen and (max-width: 480px) {
    header {
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
        display: flex;
        top: 0;
        position: fixed;
        z-index: 1000;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        box-shadow: 0 0 17px rgba(0, 0, 0, 0.096);
    }

    header img {
        height: 60%;
    }

    .about-container-2 {
        width: 100%;
        font-size: 1.2em;
        padding-top: 80px;
        padding: 30px 20px;
        color: rgb(146, 146, 146);
    }

    .yoni-container {
        width: 100%;
        height: 300px;
        margin-top: 0px;
        display: flex;
        background-color: rgb(192, 192, 192);
        overflow: hidden;
    }

    .yoni-container img {
        width: 100%;
        object-fit: cover;
    }

    .menu1 {
        display: none;
        list-style: none;
        align-items: center;
        height: 100%;
    }

    .menu2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        position: absolute;
        z-index: 10;
        right: -200%;
        box-shadow: 0 10px 24px rgba(12, 10, 10, 0.082);
        top: 100px;
    }

    .menu2 li {
        width: 100%;
        padding: 20px 30px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        border-bottom: 4px solid rgba(255, 0, 0, 0);
        color: rgb(82, 82, 82);
    }

    header ul li:nth-child(1) {
        color: rgb(61, 61, 61);
    }

    header ul li:hover {
        border-bottom: 4px solid rgba(0, 140, 255, 0);
        color: #29A8DF;
        cursor: pointer;
    }

    .animationIn {
        animation: animationIn;
        animation-fill-mode: forwards;
        animation-duration: .5s;
    }

    .animationOut {
        animation: animationOut;
        animation-fill-mode: forwards;
        animation-duration: .5s;
    }

    @keyframes animationIn {
        0% {
            right: -100%;
            z-index: 0;
        }

        100% {
            right: 0;
            z-index: 0;
        }
    }

    @keyframes animationOut {
        0% {
            right: 0;
            z-index: 0;
        }

        100% {
            right: -100%;
            z-index: 0;
        }
    }

    .slider {
        width: 100%;
        height: 300px;
        margin-top: 100px;
        background-color: rgb(236, 236, 236);
    }


    .menuIcon {
        display: block;
        color: rgb(97, 97, 97);
        font-size: 30px;
        margin-right: 20px;
    }


    .text-info {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
    }

    .text-info h1 {
        font-size: 30px;
        color: white;
    }

    .text-info p {
        width: 300px;
        font-size: 15px;
        margin-top: 10px;
        color: white;
    }

    .line {
        width: 70px;
        height: 2px;
        margin-top: 10px;
        background-color: white;
    }

    .images {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }

    .footer1 {
        width: 100%;
        height: 250px;
        position: relative;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer-left {
        display: flex;
        flex-grow: 1;
        max-width: 100%;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        margin-bottom: 30px;
        padding-right: 0;
    }

    .section1 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .row {
        display: flex;
        align-items: flex-start;
        font-size: 1em;
        color: rgb(94, 94, 94);
        margin-bottom: 8px;
        font-family: 'Montserrat', sans-serif;
    }

    .footer-left h2 {
        color: #29A8DF;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 2em;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .footer-rigth {
        display: block;
        flex-grow: 1;
        background-color: rgb(255, 255, 255);
        position: relative;
        padding-bottom: 30px;
    }

    .footer2 {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .6em;
        padding: 0 30px;
        text-align: center;
        color: rgb(110, 110, 110);
        background-color: rgb(240, 240, 240);
    }

    .form-container {
        width: 100%;
        height: 670px;
        border-radius: 0;
        border: 0px solid rgb(221, 221, 221);
        background-color: white;
        box-shadow: 1px 20px 40px rgba(0, 0, 0, 0.2);
        position: relative;
        left: 0%;
        top: 0;
    }

    #section-reviews {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .ourClients {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 35px;
        padding-left: 30px;
        color: rgb(68, 68, 68);
        width: 100%;
        height: auto;
        position: relative;
        border-bottom: 1px solid rgb(216, 216, 216);
    }

    .ourClientsInner {
        width: 100%;
        padding-right: 0px;
        height: auto;
        padding-bottom: 20px;
        position: relative;
        margin-top: 100px;
        border-right: 0px dotted rgb(0, 0, 0);

    }

    .reviews-container {
        width: 100%;
        padding-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .review-box {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.055);
        background-color: rgb(255, 255, 255);
        flex-grow: 1;
    }

    .review-body {
        font-size: 1em;
    }

    .review-name {
        font-size: 1.3em;
        color: rgb(71, 71, 71);
        font-weight: 600;
        margin-bottom: 5px;
    }

    .review-stars {
        margin-bottom: 10px;
    }

    .review-stars i {
        font-size: 1em;
        color: rgb(255, 208, 0);
    }
}

/*BLOG PAGE*/

#section-blogs {
    padding-top: 120px;
    padding-bottom: 50px;
    width: 100%;
    float: left;
}

@media (min-width: 576px) {
    #section-blogs {
        padding-top: 150px;
    }
}

#blog-details {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    float: left;
}

#blog-details ._banner-detail {
    width: 100%;
    float: left;
    height: 200px;
    position: relative;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

@media (min-width: 576px) {
    #blog-details ._banner-detail {
        height: 250px;
    }
}

#blog-details ._banner-detail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#blog-details ._banner-detail .content-heading {
    padding: 0 30px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}

@media (min-width: 576px) {
    #blog-details ._banner-detail .content-heading {
        padding: 0 10vw;
        font-size: 40px;
    }
}

#blog-details ._banner-detail ._overlay {
    position: absolute;
    width: 100%;
    float: left;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

#blog-details ._blog-detail-mid {
    width: 100%;
    float: left;
    padding: 0 30px;
    padding-top: 50px;
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    #blog-details ._blog-detail-mid {
        padding: 0 10vw;
        padding-top: 50px;
    }
}

#blog-details ._blog-detail-mid img {
    max-width: 100%;
    margin: 10px 0;
}

@media (min-width: 576px) {
    #blog-details ._blog-detail-mid img {
        max-width: 500px;
    }
}

#blog-details ._blog-detail-mid h2 {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
    padding: 0;
}

@media (min-width: 576px) {
    #blog-details ._blog-detail-mid h2 {
        font-size: 30px;
    }
}

#blog-details ._blog-detail-mid h2,
#blog-details ._blog-detail-mid h3,
#blog-details ._blog-detail-mid h4,
#blog-details ._blog-detail-mid h4 {
    font-weight: 500;
}

#blog-details ._blog-detail-mid h3 {
    font-size: 21px;
    margin: 0;
    padding: 10px 0;
}

@media (min-width: 576px) {
    #blog-details ._blog-detail-mid h3 {
        font-size: 25px;
    }
}

#blog-details ._blog-detail-mid h4 {
    font-size: 19px;
    margin: 0;
    padding: 10px 0;
}

@media (min-width: 576px) {
    #blog-details ._blog-detail-mid h4 {
        font-size: 23px;
    }
}

#blog-details ._blog-detail-mid p {
    color: #444;
    font-size: 17px;
    line-height: 24px;
    padding: 0 0 15px 0;
    margin: 0;
    width: 100%;
    float: left;
}

#blog-details ._blog-detail-mid a {
    text-decoration: none;
    color: #54a9df;
    font-size: 17px;
}

#blog-details ._blog-detail-mid ul {
    margin: 0;
    padding: 10px 0 0 20px;
    width: 100%;
    float: left;
}

#blog-details ._blog-detail-mid ul li {
    list-style-type: disc;
    color: #444;
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 10px;
}

._blog-listing {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 30px;
}

@media (min-width: 576px) {
    ._blog-listing {
        padding: 0 10vw;
    }
}

._blog-listing ._heading {
    color: #444;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

@media (min-width: 992px) {
    ._blog-listing ._heading {
        font-size: 40px;
    }
}

._blog-listing ._heading span {
    font-weight: 700;
}

._blog-listing p {
    color: #444;
    font-size: 18px;
    text-align: center;
    line-height: 26px;
}

._blog-listing ._lising-list {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin: 30px -0px;
}

@media (min-width: 576px) {
    ._blog-listing ._lising-list {
        margin: 30px -10px;
    }
}

._blog-listing ._lising-list ._grid {
    width: calc(100%);
    margin: 0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: #ccc 0 0 10px;
    background: #fff;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    ._blog-listing ._lising-list ._grid {
        width: calc(100% / 2 - 20px);
        margin: 0 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    ._blog-listing ._lising-list ._grid {
        width: calc(100% / 3 - 20px);
    }
}

._blog-listing ._lising-list ._grid ._grid-image {
    width: 100%;
    float: left;
    height: 200px;
    position: relative;
}

._blog-listing ._lising-list ._grid ._grid-image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

._blog-listing ._lising-list ._grid .description {
    width: 100%;
    float: left;
    text-align: left;
    padding: 20px;
}

._blog-listing ._lising-list ._grid .description h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    ._blog-listing ._lising-list ._grid .description h3 {
        font-size: 20px;
    }
}

._blog-listing ._lising-list ._grid .description p {
    text-align: left;
    color: #444;
    font-size: 16px;
    line-height: 24px;
}

._blog-listing ._lising-list ._grid .description .readmore {
    border: solid 1px #008cff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

._blog-listing ._lising-list ._grid .description .readmore:hover {
    background: #008cff;
    color: #fff;
}

/*SERVICE PAGE*/

._padding {
    padding-top: 0 !important;
}

._service-panel {
    width: 100%;
    float: left;
    margin: 20px 0 10px 0;
}

@media (min-width: 992px) {
    ._service-panel {
        margin: 30px 0 40px 0;
    }
}

._service-panel ._box-service {
    width: 100%;
    float: left;
    display: flex;
    flex-flow: wrap;
}

@media (min-width: 992px) {
    ._service-panel ._box-service {
        padding: 0 0 60px 0;
    }
}

._service-panel ._box-service:last-child {
    padding-bottom: 0;
}

._service-panel ._box-service._reverse {
    flex-direction: row-reverse;
}

@media (min-width: 992px) {
    ._service-panel ._box-service._reverse .service-content {
        padding: 0 30px 0 0;
    }
}

._service-panel ._box-service .image-service {
    width: 100%;
    float: left;
    border-top-left-radius: 50px;
    overflow: hidden;
}

@media (min-width: 992px) {
    ._service-panel ._box-service .image-service {
        width: 50%;
    }
}

._service-panel ._box-service .image-service img {
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
    float: left;
}

._service-panel ._box-service .service-content {
    width: 100%;
    float: left;
    padding: 20px 0;
    box-sizing: border-box;
}

@media (min-width: 992px) {
    ._service-panel ._box-service .service-content {
        width: 50%;
        padding: 0 0 0 30px;
    }
}

._service-panel ._box-service .service-content ul {
    padding-top: 0 !important;
}

._service-panel ._box-service .service-content h3 {
    padding-top: 0 !important;
}

.pd-top-20 {
    padding-top: 20px;
}

.pd-bottom-20 {
    padding-bottom: 20px;
}
.pd-bottom-10 {
    padding-bottom: 10px;
}

.ul_listing {
    padding-left: 20px;
}

.ul_listing  li {
        line-height: 1.5;
        list-style-type: square;
}